.serial-info-container {
  display: flex;

  .poster-image {
    height: calc(100vh - 64px);
  }

  .content-container {
    padding: 0 15px;

    .runtime {
      font-size: smaller;
      color: grey;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .actions {
      display: flex;

      button {
        margin-right: 10px;
        display: flex;
        align-items: center;

        &.watch-button {
          &:hover {
            md-icon.material-icons {
              color: #00d0ff;
            }
          }
        }

        &.archive-button {
          &:hover {
            md-icon.material-icons {
              color: grey;
            }
          }
        }

        md-icon {
          margin-right: 5px;
        }
      }
    }
  }


}


