<div class="serial-info-container" *ngIf="serial">
  <div *ngIf="serial.poster_path">
    <img class="poster-image" [src]="getPosterUrl()" />
  </div>
  <div class="content-container">
    <app-serial-title [serial]="serial"></app-serial-title>

    <app-serial-genres-list [genres]="serial.genres"></app-serial-genres-list>
    <p class="runtime">Run time {{serial.episode_run_time[0]}} min</p>

    <p>{{serial.overview}}</p>

    <app-serial-actions
      [isWatching]="isWatching"
      [isArchived]="false"
      (onWatch)="watchSerial()"
      (onArchive)="archiveSerial()"
    ></app-serial-actions>

    <div>Seasons: {{serial.number_of_seasons}}</div>
  </div>
</div>
