<md-toolbar color="primary">
  <span class="title">Serial Tracker</span>
  <button *ngIf="auth.isLoggedIn()" md-button class="button-link" routerLink="/tracker" routerLinkActive="is-active">
    Tracker
  </button>
  <button md-button class="button-link" routerLink="/search" routerLinkActive="is-active">
    Search
  </button>
  <span class="toolbar-spacer"></span>
  <div class="account">
    <div (click)="login()" class="user-icon">
      <md-icon *ngIf="!userName">account_circle</md-icon>
    </div>
    <span *ngIf="userName">{{userName}}</span>
    <div (click)="logout()" class="logout-icon">
      <md-icon *ngIf="userName">exit_to_app</md-icon>
    </div>
  </div>
</md-toolbar>
