.toolbar-spacer {
  flex: 1 1 auto;
}

.title {
  margin-right: 50px;
  font-family: 'Indie Flower', sans-serif;
  font-size: 30px;
}

.button-link {
  text-transform: uppercase;
}

.is-active {
  background-color: rgba(0,0,0,.12);
}

.account {
  display: flex;

  .user-icon {
    margin-right: 10px;
  }

  .logout-icon {
    margin-left: 10px;
  }

  md-icon {
    cursor: pointer;
  }
}
